<section class="footer-widgets">
	<div class="container">
		<div class="row">
			 <div class="col-sm-6">

                                <a href="#">
                                <%= active_link_to image_tag('logos/logo.png', alt:"", width:"150",  class:"site-logo"), root_path, class:"navbar-brand" %>	
                                </a>

                                <p>
                                        Tracer Study, Politeknik Pos Indonesia<br>
                                </p>

                        </div>

                        <div class="col-sm-3">

	<div class="py-3">
			<h5 class="text-uppercase font-weight-bold">Layanan</h5>
			<ul class="no-list">
				<li class="py-2">(022)2009562 Ext. 124</li>
									<li class="py-2">082120167080</li>
													<li class="py-2"><a href="mailto:cdc@poltekpos.ac.id">ts@poltekpos.ac.id</a></li>
							</ul>
		</div>

                        </div>

                        <div class="col-sm-3">	
                        <div class="py-3">
			<h5 class="text-uppercase font-weight-bold">Tautan Penting</h5>
			<ul class="no-list">
									<li class="py-2"><a href="http://poltekpos.ac.id" title="POLTEKPOS">POLTEKPOS</a></li>
									<li class="py-2"><a href="http://ristekdikti.go.id/" title="Kemenristek Dikti">Kemenristek Dikti</a></li>
									<li class="py-2"><a href="http://www.google.co.id" title="Google">Google</a></li>
				    
			</ul>
		</div>
			</div>
                        			
		</div>	
	</div>
</section>
<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-7 text-white">
				Hak Cipta © 2021 TS POLTEKPOS. Hak cipta dilindungi oleh undang-undang.
			</div>	
			<div class="col-sm-6">
			</div>		
		</div>	
	</div>
</footer>